<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>ltrain777hotmail.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ltraintodo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ltraintodo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ltraintodo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ltraintodo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToDoListServiceContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:db9l59j9fg.database.windows.net,1433;Initial Catalog=ltraintAyTpBN6zU;User ID=ltrain777@db9l59j9fg;Password=777Kitna" Name="Data Source=tcp:db9l59j9fg.database.windows.net,1433;Initial Catalog=ltraintAyTpBN6zU;User Id=ltrain777@db9l59j9fg;Password=777Kitna" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ToDoListServiceContext.mdf;Initial Catalog=ToDoAPI;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ToDoListServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=ToDoAPI;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\ToDoListServiceContext.mdf;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ToDoListServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:db9l59j9fg.database.windows.net,1433;Initial Catalog=ltraintAyTpBN6zU;User Id=ltrain777@db9l59j9fg;Password=777Kitna</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>